body {
  background-color: gray;
}

img {
  margin-left: 5%;
}

h3 {
  margin-left: 5%; 
  text-transform: uppercase;
  color: white;
}

input[type=text], input[type=submit] {
  margin-left: 5%;
}

.answer {
  background-color: lightgray;
  height: 2em;
  width: 255px;
  font-size: 32px;
  margin-left: 5%;
  margin-top: 5%;
  padding: 0 5% 5% 5%;
  position: relative;

  &:before {
    content: ""; 
    position: absolute;
    top: -12px;
    left: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent #d3d3d3 transparent; 
  }
}
