$number-color: blue;
$op-color: green;

body {
  background-color: gray;
}

img {
  margin-left: 5%;
}

.calc {
  width: 255px;
  margin: 5%;
  border: 1px solid black;
}

.buttons {
  font-size: 12px;
  text-align: center;
}

.numbers {
  float: left;
  width: 75%;
  color: $number-color;
  background-color: #fff;

  > div {
    width: 33%;
    float: left;
    
    &:last-child {
      float: none;
      margin: 0 auto;
    }

    &:hover {
      background-color: #000;
    }
  }
}

.operations {
  float: right;
  width: 25%;
  color: $op-color;
  background-color: #111;
}



.top {
  background-color: white;
  color: black;
  height: 48px;
  width: 0 auto;
}
